body {
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: black;
    position: relative;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    color: white;
}